.buttons{
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  gap: 10px;
  background-color: rgb(211, 154, 80);
  padding: 10px;
}

.buttons > div{
  background-color: aquamarine;
  text-align: center;
  padding: 20px;
  font-size: large;
}